@import "generales";
@import "navbar";
@import "parrafos";
@import "footer";

.imgrutas{
    width: 70%;
    display: flex;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(176, 208, 236);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: horizontal;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}

.imgsenderos{
    width: 100%;
    display: flex;
    max-width: 1100px;
    

}


